<div class="modal-container" *ngIf="modalType">
  <div class="modal-window">
    <!--    <FT-app-edit-bodycheck *ngIf="modalService.modalType === 'editBodycheck'"></FT-app-edit-bodycheck>-->
    <app-add-med-exam (OnMedExamAdd)="newMedExamAdded($event)"
                      *ngIf="modalService.modalType === 'addMedExam'"
                      [patientId]="patientId"
    ></app-add-med-exam>
    <app-edit-main-info *ngIf="modalService.modalType === 'editMainInfo'"></app-edit-main-info>
    <app-add-illness *ngIf="modalService.modalType === 'addIllness'"
                     [patientId]="patientId"
                     (OnIllnessAdded)="newIllnessAdded($event)"
    ></app-add-illness>
    <!--    <FT-app-edit-illness *ngIf="modalService.modalType === 'editIllness'"></FT-app-edit-illness>-->
    <div class="modal-delete" *ngIf="modalType === 'deletePatient'">
      <div *ngIf="!showTip" class="modal-delete">
        <p>Вы уверены, что хотите удалить пациента и всю информацию о нем?</p>
        <button class="player-bodycheck-content-delete"
                (click)="deletePatient()"
        >Удалить
        </button>
      </div>

      <span *ngIf="showTip" class="form-result">Игрок № {{patientId}} удален</span>
    </div>
    <div class="modal-delete" *ngIf="modalType === 'deleteMedExam'">
      <div *ngIf="!showTip" class="modal-delete">
        <p>Вы уверены, что хотите удалить медосмотр и всю информацию о нем?</p>
        <button class="player-bodycheck-content-delete"
                (click)="deleteMedExam()"
        >Удалить
        </button>
      </div>

      <span *ngIf="showTip" class="form-result">Медосмотр № {{modalService.medicalExamId}} удален</span>
    </div>
    <div class="modal-delete" *ngIf="modalType === 'deleteIllness'">
      <div *ngIf="!showTip" class="modal-delete">
        <p>Вы уверены, что хотите удалить заболевание и всю информацию о нем?</p>
        <button class="player-bodycheck-content-delete"
                (click)="deleteIllness()"
        >Удалить
        </button>
      </div>

      <span *ngIf="showTip" class="form-result">Заболевание № {{modalService.illnessId}} удалено</span>
    </div>
    <div (click)="closeModal()" class="modal-close"><i class="fas fa-times"></i></div>
  </div>

</div>


