<div class="modal-container" *ngIf="modalType">
  <div class="modal-window">
    <!--    <FT-app-edit-bodycheck *ngIf="modalService.modalType === 'editBodycheck'"></FT-app-edit-bodycheck>-->
    <!--    <FT-app-add-bodycheck-->
    <!--      (OnBodycheckAdd)="newBodycheckAdded($event)"-->
    <!--      *ngIf="modalService.modalType === 'addBodycheck'"></FT-app-add-bodycheck>-->
    <!--    <FT-app-edit-main-info *ngIf="modalService.modalType === 'editMainInfo'"></FT-app-edit-main-info>-->
    <app-edit-main-info *ngIf="modalService.modalType === 'editMainInfo'"></app-edit-main-info>
    <!--    <FT-app-add-illness *ngIf="modalService.modalType === 'addIllness'"></FT-app-add-illness>-->
    <!--    <FT-app-edit-illness *ngIf="modalService.modalType === 'editIllness'"></FT-app-edit-illness>-->


    <!--    <div class="modal-delete" *ngIf="modalService.modalType === 'deleteBodycheck'">-->
    <!--      <p *ngIf="!showTip">Вы уверены, что хотите удалить медосмотр?</p>-->
    <!--      <button *ngIf="!showTip" class="player-bodycheck-content-delete"-->
    <!--              (click)="deleteBodycheck()"-->
    <!--      >Удалить</button>-->
    <!--      <span *ngIf="showTip" class="form-result">Медосмотр № {{modalService.playerId}} удален</span>-->
    <!--    </div>-->
    <!--    <div class="modal-delete" *ngIf="modalService.modalType === 'deleteIllness'" >-->
    <!--      <p *ngIf="!showTip">Вы уверены, что хотите удалить травму/заболевание?</p>-->
    <!--      <button *ngIf="!showTip" class="player-bodycheck-content-delete"-->
    <!--              (click)="deleteIllness()"-->
    <!--      >Удалить</button>-->
    <!--      <span *ngIf="showTip" class="form-result"> Травма/заболевание № {{modalService.playerId}} удалено</span>-->
    <!--    </div>-->
    <div class="modal-delete" *ngIf="modalType === 'deletePatient'">
      <div *ngIf="!showTip" class="modal-delete">
        <p>Вы уверены, что хотите удалить пациента и всю информацию о нем?</p>
        <button class="player-bodycheck-content-delete"
                (click)="deletePatient()"
        >Удалить
        </button>
      </div>

      <span *ngIf="showTip" class="form-result">Игрок № {{playerId}} удален</span>
    </div>
    <div (click)="closeModal()" class="modal-close"><i class="fas fa-times"></i></div>
  </div>

</div>


