<app-modal [modalType]="modalService.modalType" [patientId]="patientId"
           (OnIllnessAdded)="newIllnessAdded($event)"
           (OnIllnessDeleted)="illnessDeleted($event)"
></app-modal>
<button class="add-btn" title="addIllness"
        (click)="modalService.modalType = 'addIllness';"
        [id]="patientId">Добавить травму/заболевание</button>
<div class="player-bodycheck-list">
  <div class="player-bodycheck-list-head">
    <div class="player-bodycheck-table-cell small table-head">
      Дата
    </div>
    <div class="player-bodycheck-table-cell big table-head">
      Травма/Заболевание
    </div>
  </div>
  <div class="player-bodycheck-list-row">
    <div class="player-bodycheck-item" ftdropdown *ngFor="let illness of illnessesList"
         [id]=illness.id (click)="getIllnessId($event)">
      <div class="player-bodycheck-table">
        <div class="player-bodycheck-table-cell small">
          {{illness.date | date: 'dd.MM.yyyy'}}
        </div>
        <div class="player-bodycheck-table-cell big">
          {{illness.diagnosis}}
          <div class="player-bodycheck-table-more dropdown">Подробнее <i
            class="fas fa-chevron-down dropdown"></i></div>
        </div>
      </div>
      <div class="player-bodycheck-content">
        <div class="player-bodycheck-controls">
<!--          <button class="player-bodycheck-content-save"-->
<!--                  title="editIllness"-->
<!--                  [id]="illness.id"-->
<!--          >Редактировать</button>-->
          <button class="player-bodycheck-content-delete"
                  title="deleteIllness"
                  [id]="illness.id"
                  (click)="modalService.modalType = 'deleteIllness'; modalService.illnessId = illness.id"
          >Удалить</button>
        </div>
        <div class="player-bodycheck-info-list">
          <div class="bodycheck-list-item-list">
            <div class="player-bodycheck-info">
              <p class="player-bodycheck-info-text">Дата травмы/заболевания: <span class="player-bodycheck-info-value">{{illness.date | date: 'dd.MM.yyyy'}}</span>
              </p>
              <p class="player-bodycheck-info-text">Дата выхода в основную группу: <span class="player-bodycheck-info-value">{{illness.date | date: 'dd.MM.yyyy'}}</span>
              </p>
              <p class="player-bodycheck-info-text">Количество дней нетрудосопособности (дни): <span class="player-bodycheck-info-value"> {{illness.disabilityCountDays}}</span>
              </p>
            </div>

            <div class="bodycheck-list-card">
              <p class="bodycheck-list-card-head">Диагноз</p>
              <div class="bodycheck-list-card-text">
                {{illness.diagnosis}}
              </div>
            </div>

          </div>
        </div>
        <div class="player-bodycheck-info-list">
          <div class="player-bodycheck-list-item">
            <p class="player-bodycheck-list-item-title">
              Дополнительные лабораторные и инструментальные исследования:</p>
            <div class="bodycheck-list-item-list">
              <div class="bodycheck-list-card">
                <p class="bodycheck-list-card-head">МРТ</p>

                <div class="files-list">
                  <div class="fileBlock" *ngFor="let mrt of illness.mri">
                    <div class="ImgWrapper" *ngIf="mrt.info !== null">
                      <img class="files-img" src="http://localhost:3012/uploads/{{mrt.info}}">
                    </div>
                    <div *ngIf="mrt.info !== null" class="files-file">
                      <i class="fas fa-file"></i>
                      <p><a href="{{mrt.info}}" download>скачать</a></p>
                    </div>
                  </div>
                  <div *ngIf="illness.mri.length === 0" class="files-list fileBlock">
                    <p class="empty-files">Список файлов пуст</p>
                  </div>
                </div>
              </div>
              <div class="bodycheck-list-card">
                <p class="bodycheck-list-card-head">УЗИ</p>
                <div class="files-list">
                  <div class="fileBlock" *ngFor="let uzi of illness.commonultrasound">
                    <div class="ImgWrapper" *ngIf="uzi.info !== null">
                      <img class="files-img" src="http://localhost:3012/uploads/{{uzi.info}}">
                    </div>
                    <div *ngIf="uzi.info !== null" class="files-file">
                      <i class="fas fa-file"></i>
                      <p><a href="{{uzi.info}}" download>скачать</a></p>
                    </div>
                  </div>
                  <div *ngIf="illness.commonultrasound.length === 0" class="files-list fileBlock">
                    <p class="empty-files">Список файлов пуст</p>
                  </div>
                </div>
              </div>
              <div class="bodycheck-list-card">
                <p class="bodycheck-list-card-head">Рентгенография</p>
                <div class="files-list">
                  <div class="fileBlock" *ngFor="let rentgen of illness.radiographies">
                    <div class="ImgWrapper" *ngIf="rentgen.info !== null">
                      <img class="files-img" src="http://localhost:3012/uploads/{{rentgen.info}}">
                    </div>
                    <div *ngIf="rentgen.info !== null" class="files-file">
                      <i class="fas fa-file"></i>
                      <p><a href="{{rentgen.info}}" download>скачать</a></p>
                    </div>
                  </div>
                  <div *ngIf="illness.radiographies.length === 0" class="files-list fileBlock">
                    <p class="empty-files">Список файлов пуст</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="player-bodycheck-info-list">
          <div class="player-bodycheck-list-item">
            <p class="player-bodycheck-list-item-title">Лечение:</p>
            <div class="bodycheck-list-item-list">
              <div class="bodycheck-list-card">
                <p class="bodycheck-list-card-head">лекарственная терапия</p>
                <div class="bodycheck-list-card-text">
                  {{illness.drugTherapy}}
                </div>
              </div>
              <div class="bodycheck-list-card">
                <p class="bodycheck-list-card-head">ФТЛ</p>
                <div class="bodycheck-list-card-text">
                  {{illness.physiopherapy}}
                </div>
              </div>
              <div class="bodycheck-list-card">
                <p class="bodycheck-list-card-head">прочее</p>
                <div class="bodycheck-list-card-text">
                  {{illness.other}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
